<table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
  <tbody>
  <tr>
    <td class="pc-sm-fs-30 pc-fb-font" style="font-family: 'Inter', Helvetica, Arial, sans-serif; font-size: 36px; font-weight: 800; line-height: 46px; letter-spacing: -0.6px; color: #151515; padding: 0 10px" valign="top">Hey!</td>
  </tr>
  <tr>
    <td height="20" style="line-height: 1px; font-size: 1px">&nbsp;</td>
  </tr>
  </tbody>
  <tbody>
  <tr>
    <td class="pc-sm-fs-18 pc-xs-fs-16 pc-fb-font" style="font-family: 'Inter', Helvetica, Arial, sans-serif; font-size: 18px; line-height: 30px; letter-spacing: -0.2px; color: #303030; padding: 0 10px" valign="top">
      Спасибо, что зарегистрировались.
    </td>
  </tr>
  <tr>
    <td height="25" style="line-height: 1px; font-size: 1px;">&nbsp;</td>
  </tr>
  </tbody>
</table>
