<div class="row">
  <div class="col-8">
    <h2>New collaborator</h2>
  </div>
  <div class="col-4 d-flex align-items-center justify-content-end">
    <%= link_to "Back", admin_collaborators_path, class: 'btn btn-secondary btn-sm' %>
  </div>
</div>
<br>
<%= render "form", collaborator: @collaborator %>
